In [74]:
# Import pandas library for data handling
import pandas as pd
import numpy as np

# STEP 1: Load the CSV file

# Load NIFTY Spot 5-minute data
spot = pd.read_csv(r"C:\Users\Radhika\OneDrive\Desktop\Radhika_klypto\data\nifty_spot_5min.csv")

# Load NIFTY Futures 5-minute data
futures = pd.read_csv(r"C:\Users\Radhika\OneDrive\Desktop\Radhika_klypto\data\nifty_futures_5min.csv")

# Load NIFTY Options data
options_raw = pd.read_csv(r"C:\Users\Radhika\OneDrive\Desktop\Radhika_klypto\data\nifty_options_5min.csv")
                         
# STEP 2: Display first 5 rows
print("NIFTY Spot Data")
print(spot.head())
print("\n")

print("NIFTY Futures Data")
print(futures.head())
print("\n")

print("NIFTY Options Data")
print(options_raw.head())
print("\n")


# STEP 3: Check dataset shape
# Shape tells us: (number of rows, number of columns)

print("Dataset Shapes:")
print("Spot Data Shape     :", spot.shape)
print("Futures Data Shape  :", futures.shape)
print("Options Data Shape  :", options_raw.shape)

# STEP 4: Check column names

print("\n Spot Columns:")
print(spot.columns)

print("\n Futures Columns:")
print(futures.columns)

print("\n Options Columns:")
print(options_raw.columns)

NIFTY Spot Data
  Index Name         Date      Open      High       Low     Close
0   NIFTY 50  14 Jan 2026  25648.55  25791.75  25603.95  25665.60
1   NIFTY 50  13 Jan 2026  25897.35  25899.80  25603.30  25732.30
2   NIFTY 50  12 Jan 2026  25669.05  25813.15  25473.40  25790.25
3   NIFTY 50  09 Jan 2026  25840.40  25940.60  25623.00  25683.30
4   NIFTY 50  08 Jan 2026  26106.50  26133.20  25858.45  25876.85


NIFTY Futures Data
  Symbol         Date       Expiry     Open     High      Low    Close    \
0    NIFTY  14-Jan-2026  27-Jan-2026  25750.1  25850.0  25670.0  25719.0
1    NIFTY  13-Jan-2026  27-Jan-2026  25911.0  25934.8  25661.1  25790.8
2    NIFTY  12-Jan-2026  27-Jan-2026  25770.0  25899.0  25573.2  25876.0
3    NIFTY  09-Jan-2026  27-Jan-2026  25966.0  26031.6  25725.0  25788.3
4    NIFTY  08-Jan-2026  27-Jan-2026  26190.0  26210.0  25965.0  25985.6

     LTP    Settle Price    No. of contracts    Turnover * in   ₹ Lakhs  \
0  25728.0         25719.0             70661.0               1182853.41
1  25780.4         25790.8             87482.0               1466541.07
2  25880.0         25876.0            121833.0               2038827.80
3  25810.8         25788.3             89699.0               1507538.52
4  25965.0         25985.6            106366.0               1802312.30

   Open Int    Change in OI    Underlying Value
0  17014660.0        -14560.0            25665.60
1  17029220.0        213070.0            25732.30
2  16816150.0        -58013.0            25790.25
3  16876470.0        614250.0            25683.30
4  16262220.0       2188095.0            25876.85


NIFTY Options Data
                                                                                                                                                    CALLS  \
NaN OI  CHNG IN OI VOLUME IV LTP      CHNG    BID QTY BID      ASK      ASK QTY STRIKE    BID QTY BID  ASK  ASK QTY CHNG  LTP  IV    VOLUME    CHNG IN OI
    2   -          -      -  1,796.10 -       650     1,689.10 1,786.90 650     23,950.00 1,625   1.65 1.75 48,555  -1.10 1.65 22.51 1,32,530      17,399
    718 6          99     -  1,689.30 -55.85  65      1,652.20 1,690.85 65      24,000.00 6,500   1.75 1.80 80,730  -1.15 1.75 22.08 3,85,301      54,561
    8   -          -      -  1,598.45 -       65      1,593.55 1,681.95 650     24,050.00 845     1.80 1.95 3,315   -1.10 1.80 21.56 70,425         2,238
    3   -          1      -  1,546.00 -111.30 650     1,549.00 1,619.50 650     24,100.00 65      1.95 2.00 1,040   -0.95 2.00 21.23 91,783         6,949

                                                                                                                                              Unnamed: 1  \
NaN OI  CHNG IN OI VOLUME IV LTP      CHNG    BID QTY BID      ASK      ASK QTY STRIKE    BID QTY BID  ASK  ASK QTY CHNG  LTP  IV    VOLUME           OI
    2   -          -      -  1,796.10 -       650     1,689.10 1,786.90 650     23,950.00 1,625   1.65 1.75 48,555  -1.10 1.65 22.51 1,32,530     29,486
    718 6          99     -  1,689.30 -55.85  65      1,652.20 1,690.85 65      24,000.00 6,500   1.75 1.80 80,730  -1.15 1.75 22.08 3,85,301   1,03,022
    8   -          -      -  1,598.45 -       65      1,593.55 1,681.95 650     24,050.00 845     1.80 1.95 3,315   -1.10 1.80 21.56 70,425        4,768
    3   -          1      -  1,546.00 -111.30 650     1,549.00 1,619.50 650     24,100.00 65      1.95 2.00 1,040   -0.95 2.00 21.23 91,783       13,023

                                                                                                                                               PUTS
NaN OI  CHNG IN OI VOLUME IV LTP      CHNG    BID QTY BID      ASK      ASK QTY STRIKE    BID QTY BID  ASK  ASK QTY CHNG  LTP  IV    VOLUME     NaN
    2   -          -      -  1,796.10 -       650     1,689.10 1,786.90 650     23,950.00 1,625   1.65 1.75 48,555  -1.10 1.65 22.51 1,32,530   NaN
    718 6          99     -  1,689.30 -55.85  65      1,652.20 1,690.85 65      24,000.00 6,500   1.75 1.80 80,730  -1.15 1.75 22.08 3,85,301   NaN
    8   -          -      -  1,598.45 -       65      1,593.55 1,681.95 650     24,050.00 845     1.80 1.95 3,315   -1.10 1.80 21.56 70,425     NaN
    3   -          1      -  1,546.00 -111.30 650     1,549.00 1,619.50 650     24,100.00 65      1.95 2.00 1,040   -0.95 2.00 21.23 91,783     NaN


Dataset Shapes:
Spot Data Shape     : (250, 6)
Futures Data Shape  : (22, 14)
Options Data Shape  : (85, 3)

 Spot Columns:
Index(['Index Name', 'Date', 'Open', 'High', 'Low', 'Close'], dtype='object')

 Futures Columns:
Index(['Symbol  ', 'Date  ', 'Expiry  ', 'Open  ', 'High  ', 'Low  ',
       'Close  ', 'LTP  ', 'Settle Price  ', 'No. of contracts  ',
       'Turnover * in   ₹ Lakhs', 'Open Int  ', 'Change in OI  ',
       'Underlying Value  '],
      dtype='object')

 Options Columns:
Index(['CALLS', 'Unnamed: 1', 'PUTS'], dtype='object')

In [75]:
options_raw.head()

                                                                                                                                                    CALLS  \
NaN OI  CHNG IN OI VOLUME IV LTP      CHNG    BID QTY BID      ASK      ASK QTY STRIKE    BID QTY BID  ASK  ASK QTY CHNG  LTP  IV    VOLUME    CHNG IN OI
    2   -          -      -  1,796.10 -       650     1,689.10 1,786.90 650     23,950.00 1,625   1.65 1.75 48,555  -1.10 1.65 22.51 1,32,530      17,399
    718 6          99     -  1,689.30 -55.85  65      1,652.20 1,690.85 65      24,000.00 6,500   1.75 1.80 80,730  -1.15 1.75 22.08 3,85,301      54,561
    8   -          -      -  1,598.45 -       65      1,593.55 1,681.95 650     24,050.00 845     1.80 1.95 3,315   -1.10 1.80 21.56 70,425         2,238
    3   -          1      -  1,546.00 -111.30 650     1,549.00 1,619.50 650     24,100.00 65      1.95 2.00 1,040   -0.95 2.00 21.23 91,783         6,949

                                                                                                                                              Unnamed: 1  \
NaN OI  CHNG IN OI VOLUME IV LTP      CHNG    BID QTY BID      ASK      ASK QTY STRIKE    BID QTY BID  ASK  ASK QTY CHNG  LTP  IV    VOLUME           OI
    2   -          -      -  1,796.10 -       650     1,689.10 1,786.90 650     23,950.00 1,625   1.65 1.75 48,555  -1.10 1.65 22.51 1,32,530     29,486
    718 6          99     -  1,689.30 -55.85  65      1,652.20 1,690.85 65      24,000.00 6,500   1.75 1.80 80,730  -1.15 1.75 22.08 3,85,301   1,03,022
    8   -          -      -  1,598.45 -       65      1,593.55 1,681.95 650     24,050.00 845     1.80 1.95 3,315   -1.10 1.80 21.56 70,425        4,768
    3   -          1      -  1,546.00 -111.30 650     1,549.00 1,619.50 650     24,100.00 65      1.95 2.00 1,040   -0.95 2.00 21.23 91,783       13,023

                                                                                                                                               PUTS
NaN OI  CHNG IN OI VOLUME IV LTP      CHNG    BID QTY BID      ASK      ASK QTY STRIKE    BID QTY BID  ASK  ASK QTY CHNG  LTP  IV    VOLUME     NaN
    2   -          -      -  1,796.10 -       650     1,689.10 1,786.90 650     23,950.00 1,625   1.65 1.75 48,555  -1.10 1.65 22.51 1,32,530   NaN
    718 6          99     -  1,689.30 -55.85  65      1,652.20 1,690.85 65      24,000.00 6,500   1.75 1.80 80,730  -1.15 1.75 22.08 3,85,301   NaN
    8   -          -      -  1,598.45 -       65      1,593.55 1,681.95 650     24,050.00 845     1.80 1.95 3,315   -1.10 1.80 21.56 70,425     NaN
    3   -          1      -  1,546.00 -111.30 650     1,549.00 1,619.50 650     24,100.00 65      1.95 2.00 1,040   -0.95 2.00 21.23 91,783     NaN

# CLEAN & STANDARDIZE DATETIME

In [76]:
spot.columns = spot.columns.str.strip()
spot['Date'] = pd.to_datetime(spot['Date'])
spot.sort_values('Date', inplace=True)
spot.reset_index(drop=True, inplace=True)

In [77]:
# Remove bad rows
spot.dropna(subset=['Open','High','Low','Close'], inplace=True)
spot = spot[spot['Close'] > 0]

# CREATE DAILY SPOT SNAPSHOT (ATM SOURCE)

In [78]:
spot_daily = (
    spot
    .sort_values('Date')
    .groupby(spot['Date'].dt.date)
    .last()
    .reset_index(drop=True)
)

spot_daily['TradeDate'] = spot_daily['Date'].dt.date
spot_daily['ATM'] = (spot_daily['Close'] / 100).round() * 100

# CLEAN & STANDARDIZE FUTURES DATA

In [79]:
futures.columns = futures.columns.str.strip()
futures['Date'] = pd.to_datetime(futures['Date'])
futures['Expiry'] = pd.to_datetime(futures['Expiry'])

In [80]:
futures.sort_values('Date', inplace=True)
futures.reset_index(drop=True, inplace=True)

In [81]:
# Remove bad rows
futures.dropna(subset=['Open','High','Low','Close'], inplace=True)
futures = futures[futures['Close'] > 0]

In [82]:
# Handle rollover — nearest expiry only
futures['DaysToExpiry'] = (futures['Expiry'] - futures['Date']).dt.days
futures = futures[futures['DaysToExpiry'] >= 0]

futures = (
    futures
    .sort_values(['Date','DaysToExpiry'])
    .groupby('Date')
    .first()
    .reset_index()
)

# CLEAN & STANDARDIZE OPTIONS

In [83]:
options_raw = options_raw.copy()
options_raw.columns = options_raw.columns.str.strip()

print(options_raw.columns)

Index(['CALLS', 'Unnamed: 1', 'PUTS'], dtype='object')

In [84]:
# Force first column as STRIKE
options_raw.iloc[:, 0] = options_raw.iloc[:, 0].astype(str)
options_raw.rename(columns={options_raw.columns[0]: 'STRIKE'}, inplace=True)

In [85]:
# Extract strike from first column BY POSITION
strike_series = options_raw.iloc[:, 0]

# Convert to string, clean commas
strike_series = strike_series.astype(str).str.replace(',', '')

# Convert to numeric
strike_series = pd.to_numeric(strike_series, errors='coerce')

# Assign back as a TRUE Series
options_raw = options_raw.assign(STRIKE=strike_series)

In [86]:
# Remove junk rows
options_raw = options_raw.dropna(subset=['STRIKE'])
options_raw['STRIKE'] = options_raw['STRIKE'].astype(int)

In [87]:
print(type(options_raw['STRIKE']))
print(options_raw[['STRIKE']].head(10))

<class 'pandas.core.series.Series'>
                                                                                                                            STRIKE
NaN 2   -  -  -     1,796.10 -       650 1,689.10 1,786.90 650 23,950.00 1,625  1.65 1.75 48,555 -1.10 1.65 22.51 1,32,530   17399
    718 6  99 -     1,689.30 -55.85  65  1,652.20 1,690.85 65  24,000.00 6,500  1.75 1.80 80,730 -1.15 1.75 22.08 3,85,301   54561
    8   -  -  -     1,598.45 -       65  1,593.55 1,681.95 650 24,050.00 845    1.80 1.95 3,315  -1.10 1.80 21.56 70,425      2238
    3   -  1  -     1,546.00 -111.30 650 1,549.00 1,619.50 650 24,100.00 65     1.95 2.00 1,040  -0.95 2.00 21.23 91,783      6949
    1   -  -  -     1,602.95 -4.85   65  1,507.95 1,571.50 650 24,150.00 780    2.10 2.20 2,795  -1.05 2.10 20.76 54,191      1668
    10  -  -  -     1,516.80 -       65  1,446.65 1,524.05 650 24,200.00 11,440 2.15 2.25 8,905  -1.00 2.20 20.27 1,56,244   14113
    3   -  -  -     1,503.65 -4.75   65  1,396.05 1,474.40 650 24,250.00 260    2.40 2.50 845    -0.95 2.40 19.89 54,753      5689
    4   -  -  -     1,429.15 -       65  1,366.30 1,432.25 650 24,300.00 3,120  2.70 2.75 845    -0.60 2.70 19.58 1,07,385    9431
    1   -  -  -     1,407.65 -3.45   650 1,297.60 1,372.75 650 24,350.00 845    2.85 3.05 845    -0.65 2.90 19.14 54,148      3039
    13  -1 1  23.88 1,319.50 36.50   650 1,263.85 1,328.35 130 24,400.00 1,430  3.15 3.30 845    -0.65 3.15 18.72 1,46,182   16600

In [88]:
# Drop any column named STRIKE
options_raw = options_raw.loc[:, ~options_raw.columns.str.contains('^STRIKE$', case=False)]

In [89]:
strike = options_raw.iloc[:, 0]          # column by position
strike = strike.astype(str)
strike = strike.str.replace(',', '', regex=False)
strike = pd.to_numeric(strike, errors='coerce')

options_raw.insert(0, 'STRIKE', strike)

In [90]:
options_raw = options_raw.dropna(subset=['STRIKE'])
options_raw['STRIKE'] = options_raw['STRIKE'].astype(int)

In [91]:
print(type(options_raw['STRIKE']))
print(options_raw.columns)
print(options_raw[['STRIKE']].head(10))

<class 'pandas.core.series.Series'>
Index(['STRIKE', 'Unnamed: 1', 'PUTS'], dtype='object')
                                                                                                                            STRIKE
NaN 2   -  -  -     1,796.10 -       650 1,689.10 1,786.90 650 23,950.00 1,625  1.65 1.75 48,555 -1.10 1.65 22.51 1,32,530   29486
    718 6  99 -     1,689.30 -55.85  65  1,652.20 1,690.85 65  24,000.00 6,500  1.75 1.80 80,730 -1.15 1.75 22.08 3,85,301  103022
    8   -  -  -     1,598.45 -       65  1,593.55 1,681.95 650 24,050.00 845    1.80 1.95 3,315  -1.10 1.80 21.56 70,425      4768
    3   -  1  -     1,546.00 -111.30 650 1,549.00 1,619.50 650 24,100.00 65     1.95 2.00 1,040  -0.95 2.00 21.23 91,783     13023
    1   -  -  -     1,602.95 -4.85   65  1,507.95 1,571.50 650 24,150.00 780    2.10 2.20 2,795  -1.05 2.10 20.76 54,191      2767
    10  -  -  -     1,516.80 -       65  1,446.65 1,524.05 650 24,200.00 11,440 2.15 2.25 8,905  -1.00 2.20 20.27 1,56,244   25083
    3   -  -  -     1,503.65 -4.75   65  1,396.05 1,474.40 650 24,250.00 260    2.40 2.50 845    -0.95 2.40 19.89 54,753      6796
    4   -  -  -     1,429.15 -       65  1,366.30 1,432.25 650 24,300.00 3,120  2.70 2.75 845    -0.60 2.70 19.58 1,07,385   15272
    1   -  -  -     1,407.65 -3.45   650 1,297.60 1,372.75 650 24,350.00 845    2.85 3.05 845    -0.65 2.90 19.14 54,148      4229
    13  -1 1  23.88 1,319.50 36.50   650 1,263.85 1,328.35 130 24,400.00 1,430  3.15 3.30 845    -0.65 3.15 18.72 1,46,182   23433

In [93]:
options_raw = pd.read_csv(r"C:\Users\Radhika\OneDrive\Desktop\Radhika_klypto\data\nifty_options_5min.csv", skiprows=1)
options_raw.columns = options_raw.columns.str.strip()

In [95]:
# Convert STRIKE properly
options_raw['STRIKE'] = (
    options_raw['STRIKE']
    .astype(str)
    .str.replace(',', '', regex=False))

options_raw['STRIKE'] = pd.to_numeric(
    options_raw['STRIKE'],
    errors='coerce')

In [96]:
options_raw = options_raw.dropna(subset=['STRIKE'])
options_raw['STRIKE'] = options_raw['STRIKE'].astype(int)

In [97]:
print(options_raw.shape)
print(options_raw[['STRIKE']].head(10))

(84, 23)
   STRIKE
0   23950
1   24000
2   24050
3   24100
4   24150
5   24200
6   24250
7   24300
8   24350
9   24400

In [98]:
# Split CALLS
calls = options_raw[
    ['STRIKE','LTP','IV','VOLUME','OI','CHNG IN OI']
].copy()
calls['OptionType'] = 'CE'

In [99]:
# Split PUTS
puts = options_raw[
    ['STRIKE','LTP.1','IV.1','VOLUME.1','OI.1','CHNG IN OI.1']
].copy()

In [100]:
puts.columns = ['STRIKE','LTP','IV','VOLUME','OI','CHNG IN OI']
puts['OptionType'] = 'PE'

In [101]:
# Combine
options_clean = pd.concat([calls, puts], ignore_index=True)

# NUMERIC CLEANING

In [102]:
num_cols = ['STRIKE','LTP','IV','VOLUME','OI','CHNG IN OI']

options_clean[num_cols] = (
    options_clean[num_cols]
    .replace(['-', ''], np.nan)
    .replace(',', '', regex=True))

In [103]:
options_clean[num_cols] = options_clean[num_cols].astype(float)

In [104]:
# Remove rows without price
options_clean.dropna(subset=['LTP'], inplace=True)

In [105]:
print("After numeric cleaning:", options_clean.shape)

After numeric cleaning: (168, 7)

# HANDLE MISSING VALUES

In [106]:
options_clean['TradeDate'] = spot_daily['TradeDate'].iloc[0]

In [107]:
options_clean = options_clean.merge(
    spot_daily[['TradeDate','ATM']],
    on='TradeDate',
    how='left')

In [108]:
print("ATM:", options_clean['ATM'].unique())
print("Strike min/max:", options_clean['STRIKE'].min(), options_clean['STRIKE'].max())

ATM: [23200.]
Strike min/max: 23950.0 28100.0

In [109]:
atm_from_options = (
    options_clean['STRIKE']
    .median()
)

# Snap to nearest 50
atm_from_options = round(atm_from_options / 50) * 50

options_clean['ATM'] = atm_from_options

In [110]:
options_clean = options_clean[
    options_clean['STRIKE'].between(
        options_clean['ATM'] -200,
        options_clean['ATM'] +200)]

In [111]:
print("FINAL OPTIONS CLEAN:", options_clean.shape)
print(options_clean[['STRIKE','ATM','OptionType']].head(10))

FINAL OPTIONS CLEAN: (18, 9)
      STRIKE    ATM OptionType
37   25800.0  26000         CE
38   25850.0  26000         CE
39   25900.0  26000         CE
40   25950.0  26000         CE
41   26000.0  26000         CE
42   26050.0  26000         CE
43   26100.0  26000         CE
44   26150.0  26000         CE
45   26200.0  26000         CE
121  25800.0  26000         PE

# SAVE CLEAN DATA

In [112]:
spot.to_csv(r"C:\Users\Radhika\OneDrive\Desktop\Radhika_klypto\data\Clean data\spot_clean.csv", index=False)
futures.to_csv(r"C:\Users\Radhika\OneDrive\Desktop\Radhika_klypto\data\Clean data\futures_clean.csv", index=False)
options_clean.to_csv(r"C:\Users\Radhika\OneDrive\Desktop\Radhika_klypto\data\Clean data\option_clean.csv", index=False)